@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: black;
}

h1, h2 {
    font-family: Joan, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

#cover-text {
    font-size: 150%;
    font-family: Joan, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 850px;
    height: 150px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgba(139, 69, 19, .7);
    bottom: 30px;
    right: 150px;
    position: absolute;
    left: 27%;
    bottom: 10%;
}

#cover-text h2 {
    padding-left: 220px;
}

#sites-ethos {
    height: 1233px;
    background-image: url(../images/background-image.jpg);
}

#sites-ethos h2 {
    text-transform: none;
    font-size: x-large;
}

#stonehenge {
    padding-top: 0;
    width: 33%;
    margin: 0 auto;
    margin-top: 50px;
}

#pyramid {
    padding-top: 0;
    width: 33%;
    margin: 0 auto;
    margin-top: 30px;
}

#colosseum {
    width: 33%;
    margin: 0 auto;
    margin-top: 30px;
}

#terracotta {
    width: 33%;
    margin: 0 auto;
    margin-top: 30px;
}

#easter {
    width: 33%;
    margin: 0 auto;
    margin-top: 30px;
}

div > div > hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 5p;
}

div > a > div > hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 5p;
}

section > h2 {
    padding-left: 39%;
}

section > div > div > h2 {
    text-transform: capitalize;
}

#pyramid-img {
    position: absolute;
    left: 0px;
    top: 825px
    
}

#colosseum-img {
    position: absolute;
    right: 0px;
    top: 1000px
}

#terracotta-image {
    position: absolute;
    left: 0px;
    top: 1240px
}

#easter-image {
    position: absolute;
    right: 0px;
    top: 1413px
}

.signup-form {
    margin: 0 auto;
    color: #fff;
    width: 500px;
    height: 100px;
    padding-top: 100px;
}

.signup-form > h2 {
    color: white;
}