@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* this css styles all text in the body and background color of the whole page */
body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: 	#000000;
}

/* this css styles all h1 and h2 elements */
h1, h2 {
    font-family: Joan, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 1%;
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 150%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid 	#FFFFFF;
}


/* this css styles the hero image so it is pushed below the h1 and menu */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #FFFFFF;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

/* this css styles the see-through text box on the hero image */
#cover-text {
    font-size: 150%;
    font-family: Joan, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 50%;
    height: 24%;
    padding-top: 1%;
    background-color: rgba(139, 69, 19, .7);
    bottom: 10%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#cover-text h2 {
    text-align: center;
}

#site-ethos {
    background-color: #9E7147;
    color: 	#000000;
}

/* this css styles all h2 elements in the site section */
#site-ethos h2 {
    text-transform: none;
    font-size: x-large;
    color: 	#000000;
    text-align: center;
}

.site-information {
    width: 33%;
    margin: 0 auto;
    margin-top: 2%;
}

.site-h2-underline {
    border-top: 1px solid 	#000000;
    width: 100%;
}

section > div > div > h2 {
    text-transform: capitalize;
}

#pyramid-image {
    position: absolute;
    left: 0px;
    top: 825px
    
}

#colosseum-image {
    position: absolute;
    right: 0px;
    top: 1000px
}

#terracotta-image {
    position: absolute;
    left: 0px;
    top: 1240px
}

#easter-image {
    position: absolute;
    right: 0px;
    top: 1413px
}

#form-section {
    background-color: #9E7147;
}

/* this css styles the sign up form */
.signup-form {
    margin: auto;
    color: 	#000000;
    font-size: large;
    width: 50%;
    padding-top: 10%;
}

.signup-form > h2 {
    color: 	#000000;
}

.submit-button {
    color: 	#FFFFFF;
    border: 1px solid 	#FFFFFF;
    background-color: 	#000000;
}

.submit-button:hover {
    background-color: 	#FFFFFF;
    color: 	#000000;
    border-color: 	#000000;
}

/* this css styles the text input */
.text-input {
    border: 1px solid 	#FFFFFF;
    color: 	#FFFFFF;
    border-color: 	#FFFFFF;
    background-color: 	#000000;
}

.text-input:hover {
    color: 	#000000;
    border-color: 	#000000;
    background-color: 	#FFFFFF;
}

.email-field {
    margin-left: 0;
}

footer {
    height: 60px;
    background-color: 	#000000;
}

footer > ul > li {
    text-align: center;
}

.social-media {
    color: 	#FFFFFF;
    font-size: 50px;
    margin: 15%;
}