@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: black;
}

h1, h2 {
    font-family: Joan, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

#cover-text {
    font-size: 150%;
    font-family: Joan, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 850px;
    height: 150px;
    padding-top: 10px;
    padding-left: 35px;
    background-color: rgba(139, 69, 19, .7);
    bottom: 30px;
    right: 150px;
    position: absolute;
    left: 27%;
}

#cover-text h2 {
    padding-left: 220px;
}

#sites-ethos {
    height: 600px;
}

#sites-ethos h1 {
    text-transform: none;
}

#left-about {
    padding-top: 0;
    width: 33%;
    float: left;
    background-color: blue;
    margin-top: 193px;
}

#right-about {
    padding-top: 0;
    width: 33%;
    float: right;
    background-color: yellow;
    margin-top: 193px;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: red;
}

#center-top-about {
    width: 33%;
    margin: 0 auto;
    background-color: purple;
    margin-top: 10px;
}

#center-bottom-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
    margin-top: 10px;
}